h1{
    color:  green;
    text-align:center;center;
}
p {
    font-family: new times-roman;
}
ul  {
    line-height:30px;
}
ol  {
    line height:30px;
}
strong  {
    font-style:oblique;
}
em {
    font-style: italic;
}
